language: python

python:
  - "3.4"
  - "3.5"

install:
  - pip install -U pip setuptools
  - pip install -r requirements.txt
  - pip install coveralls

script:
  - (cd pytts && make ci)

notifications:
  email:
    on_success: change
    on_failure: always

after_success:
  - (cd pytts && coveralls -c coverage.rc)
