astroid==1.4.4
BlackRed==0.3.0
CherryPy==5.0.1
colorama==0.3.6
coverage==4.0.3
Flask==0.10.1
itsdangerous==0.24
Jinja2==2.8
lazy-object-proxy==1.2.1
MarkupSafe==0.23
py==1.4.31
pylint==1.5.4
pymongo==3.2.1
pytest==2.8.7
pytest-cov==2.2.1
pytest-timeout==1.0.0
redis==2.10.5
selenium==2.52.0
six==1.10.0
Werkzeug==0.11.4
wrapt==1.10.6
